* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body > header {
  background-color: #333333;
  height: 2em;
  padding: 0 2em; }
  body > header > nav {
    background: -webkit-linear-gradient(top, #3671e7 0%, #3671e7 20%, #194fd7 80%, #194fd7 100%);
    background: linear-gradient(to bottom, #3671e7 0%, #3671e7 20%, #194fd7 80%, #194fd7 100%);
    border-radius: 3px;
    box-shadow: 0 0 4px 0px #333;
    position: relative;
    height: 2em;
    top: 1em;
    margin: 0 auto;
    max-width: 50rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    body > header > nav > menu {
      margin: auto 0; }
      body > header > nav > menu > menuitem {
        color: white;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin: 0 0.8em; }
        body > header > nav > menu > menuitem a {
          color: inherit;
          text-decoration: none; }
          body > header > nav > menu > menuitem a:hover {
            text-decoration: underline; }

body > footer {
  background-color: #333333;
  color: #cccccc;
  font-size: 0.8em;
  min-height: 10em;
  margin-top: 2em;
  padding-top: 0.5em;
  padding-bottom: 1em; }
  body > footer a {
    color: #cccccc;
    text-decoration: none; }
    body > footer a:hover {
      text-decoration: underline; }

body {
  margin: 0 auto;
  text-align: center; }

h1 {
  font-size: 1.5em;
  margin: 2em 0 1em 0;
  text-align: center; }

.mockup-page-column {
  display: inline-block;
  text-align: left;
  width: 20em; }
  .mockup-page-column .mockup-page {
    box-shadow: 0 0 5px 0px #999;
    font-family: serif;
    font-size: 0.8em;
    margin: 0 auto;
    min-height: 10em;
    padding: 0.01em; }

.css-column {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 20em; }
  .css-column pre {
    font-size: 0.9em;
    overflow: auto;
    margin: 0 auto;
    padding: 0; }
  .css-column input[type='range'] {
    position: relative;
    top: 0.5em;
    width: 5em; }
  .css-column .css-code {
    display: inline-block;
    width: 20em; }

button {
  margin-top: 4em;
  padding: 0.4em 1.4em; }

body#index section {
  margin: 0 auto;
  max-width: 40em; }
  body#index section a {
    color: #6699ff;
    text-decoration: none; }
    body#index section a:hover {
      text-decoration: underline; }
  body#index section td {
    padding: 0.6em 2em;
    text-align: left;
    vertical-align: top; }
    body#index section td:first-child {
      text-align: right;
      white-space: nowrap; }

body#ul-and-li-margins-and-padding .mockup-page aside {
  border: 1px solid #999;
  font-family: monospace;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  padding: 0.4em;
  vertical-align: middle; }

body#side-by-side-blocks .mockup-page section {
  border: solid 1px #ccc;
  margin: 0.4em;
  padding: 0.2em 0.4em; }

body#flex .mockup-page {
  padding: 1.5em; }
  body#flex .mockup-page .container {
    background-color: #ffebcc;
    border: 1px solid #ccc;
    min-height: 25em; }
  body#flex .mockup-page .child {
    border: 1px solid #999;
    padding: 0.2em 0.4em;
    text-align: center; }
  body#flex .mockup-page .child:nth-child(1) {
    background-color: #a3a3ff; }
  body#flex .mockup-page .child:nth-child(2) {
    background-color: #adadff; }
  body#flex .mockup-page .child:nth-child(3) {
    background-color: #b8b8ff; }
  body#flex .mockup-page .child:nth-child(4) {
    background-color: #c2c2ff; }
  body#flex .mockup-page .child:nth-child(5) {
    background-color: #ccccff; }
  body#flex .mockup-page .child:nth-child(6) {
    background-color: #d6d6ff; }
  body#flex .mockup-page .child:nth-child(7) {
    background-color: #e0e0ff; }

body#center-using-flex .mockup-page {
  padding: 1.5em; }
  body#center-using-flex .mockup-page .container {
    background-color: #ffebcc;
    border: 1px solid #ccc;
    min-height: 15em; }
  body#center-using-flex .mockup-page .child {
    background-color: #c2c2ff;
    border: 1px solid #999;
    padding: 0.2em 0.4em;
    margin: 0.4em;
    max-width: 8em; }

body#elastic-footer .mockup-page {
  height: 10em;
  overflow: auto;
  padding: 0.1em;
  text-align: center; }
  body#elastic-footer .mockup-page header, body#elastic-footer .mockup-page section, body#elastic-footer .mockup-page footer {
    padding: 0.5em; }
  body#elastic-footer .mockup-page header {
    background-color: #ccc; }
  body#elastic-footer .mockup-page footer {
    background-color: #ccc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
