@import 'library';

@include reset;
@include box-sizing-fix;
@include main-menu-raised;
@include main-footer;
// @include debug-show-all-borders;

body {
  margin: 0 auto;             // t+b l+r
}

h1 {
  font-size: 1.5em;
  margin: 2em 0 1.5em 0;      // t r b l
  text-align: center;
}

// The sandbox is a container with a mockup page on the left
// and a css editor on the right.
.sandbox {

  // Use flex to place the mockup page and the css
  // editor side by side.
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  // Limit the width of the sandbox and center it horizontally
  // in the browser window.
  margin: 0 auto;
  max-width: $body-width;
}

.mockup-page-column {
  width: 20em;

  .mockup-page {
    box-shadow: 0 0 5px 0px #999;
    font-family: serif;
    font-size: 0.8em;
    margin: auto;
    text-align: left;
  }
}

.css-column {
  pre {
    font-size: 0.9em;
    overflow: auto;
    padding: 0.6em;
  }

  input[type='range'] {
    position: relative;
    top: 0.5em;
    width: 5em;
  }

  .css-code {
    display: inline-block;
    width: 20em;
  }
}

nav {
  margin: 1em 0;
  text-align: center;

  button {
    padding: 0.4em 1.4em;       // t+b l+r
  }
}

body#index {
  section {
    @include link-style();

    td {
      padding: 0.6em 2em;
      text-align: left;
      vertical-align: top;

      &:first-child {
        text-align: right;
        white-space: nowrap;
      }
    }
  }
}

body#center-using-flex {
  .mockup-page {
    padding: 1.5em;

    .container {
      background-color: #ffebcc;
      border: 1px solid #ccc;
      height: 100%;
      width: 100%;
    }

    .child {
      background-color: #c2c2ff;
      border: 1px solid #999;
      padding: 0.2em 0.4em;   // t+b l+r
      margin: 0.4em;
    }
  }

  .css-column {
    .css-code {
      width: 15em;
    }
  }
}

body#flex {
  .mockup-page {
    padding: 1.5em;

    .container {
      background-color: #ffebcc;
      border: 1px solid #ccc;
      min-height: 25em;
    }

    .child {
      border: 1px solid #999;
      padding: 0.2em 0.4em;   // t+b l+r
      text-align: center;
    }

    .child:nth-child(1) {
      background-color: #a3a3ff;
    }

    .child:nth-child(2) {
      background-color: #adadff;
    }

    .child:nth-child(3) {
      background-color: #b8b8ff;
    }

    .child:nth-child(4) {
      background-color: #c2c2ff;
    }

    .child:nth-child(5) {
      background-color: #ccccff;
    }

    .child:nth-child(6) {
      background-color: #d6d6ff;
    }

    .child:nth-child(7) {
      background-color: #e0e0ff;
    }
  }
}

body#side-by-side-blocks {
  .mockup-page {
    padding: 0.01em;          // prevent t+b margin collapse

    section {
      border: solid 1px #ccc;
      margin: 0.4em;
      padding: 0.2em 0.4em;   // t+b l+r
    }
  }
}

body#ul-and-li-margins-and-padding {
  .mockup-page {
    // Something embedded in the li, to show alignment of, say, boxes of text, images, etc.
    aside {
      border: 1px solid #999;
      font-family: monospace;
      margin-top: 0.6em;
      margin-bottom: 0.6em;
      padding: 0.4em;
      vertical-align: middle;
    }
  }
}
