@import 'library';

@include reset;
@include box-sizing-fix;
// @include debug-show-all-borders;
@include main-menu-raised;
@include main-footer;

body {
  margin: 0 auto;             // t+b l+r
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin: 1em 0 1.5em 0;      // t r b l
  text-align: center;
}

.mockup-page-column {
  display: inline-block;
  text-align: left;
  width: 20em;

  .mockup-page {
    box-shadow: 0 0 5px 0px #999;
    font-family: serif;
    font-size: 0.8em;
    margin: 0 auto;           // t+b l+r
    min-height: 10em;
    padding: 0.01em;          // prevent t+b margin collapse
  }
}

.css-column {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 20em;

  pre {
    font-size: 0.9em;
    overflow: auto;
    margin: 0 auto;           // t+b l+r
    padding: 0;
  }

  input[type='range'] {
    position: relative;
    top: 0.5em;
    width: 5em;
  }

  .css-code {
    display: inline-block;
    width: 20em;
  }
}

button {
  margin-top: 4em;
  padding: 0.4em 1.4em;       // t+b l+r
}

body#index {
  section {
    margin: 0 auto;
    width: 40em;
  }
}

body#ul-and-li-margins-and-padding {
  .mockup-page {
    // Something embedded in the li, to show alignment of, say, boxes of text, images, etc.
    aside {
      border: 1px solid #999;
      font-family: monospace;
      margin-top: 0.6em;
      margin-bottom: 0.6em;
      padding: 0.4em;
      vertical-align: middle;
    }
  }
}

body#side-by-side-blocks {
  .mockup-page {
    section {
      border: solid 1px #ccc;
      margin: 0.4em;
      padding: 0.2em 0.4em;   // t+b l+r
    }
  }
}

body#flex {
  .mockup-page {
    padding: 1.5em;

    .container {
      background-color: #ffebcc;
      border: 1px solid #ccc;
      min-height: 25em;
    }

    .child {
      border: 1px solid #999;
      padding: 0.2em 0.4em;   // t+b l+r
      text-align: center;
    }

    .child:nth-child(1) {
      background-color: #a3a3ff;
    }

    .child:nth-child(2) {
      background-color: #adadff;
    }

    .child:nth-child(3) {
      background-color: #b8b8ff;
    }

    .child:nth-child(4) {
      background-color: #c2c2ff;
    }

    .child:nth-child(5) {
      background-color: #ccccff;
    }

    .child:nth-child(6) {
      background-color: #d6d6ff;
    }

    .child:nth-child(7) {
      background-color: #e0e0ff;
    }
  }
}

body#center-using-flex {
  .mockup-page {
    padding: 1.5em;

    .container {
      background-color: #ffebcc;
      border: 1px solid #ccc;
      min-height: 15em;
    }

    .child {
      background-color: #c2c2ff;
      border: 1px solid #999;
      padding: 0.2em 0.4em;   // t+b l+r
      margin: 0.4em;
      max-width: 8em;
    }
  }
}

body#elastic-footer {
    .mockup-page {
      height: 10em;
      overflow: auto;         // allow scrollbars to appear when needed
      padding: 0.1em;
      text-align: center;

      header, section, footer {
        padding: 0.5em;
      }

      header {
        background-color: #ccc;
      }

      footer {
        background-color: #ccc;
        display: flex;

      }
    }
}
