@import url(reset.css);
/* link decorations */
a, a:link, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: #0000ff;
  text-decoration: underline; }

body {
  font-family: "Palatino", serif;
  font-size: 90%;
  font-weight: 100;
  margin: 0 auto;
  /* fixed width page, horizontally centered */
  width: 880px; }
  body header {
    /* page header */
    padding: 2em;
    padding-bottom: 3em;
    text-align: center; }
    body header h1 {
      font-family: "Helvetica Neue", "sans-serif";
      font-size: 180%;
      font-weight: 100;
      letter-spacing: 0.05em; }
  body section[id="css-settings"] {
    /* use a section to contain the list of settings, placed on the left side of the page */
    float: left;
    font-family: monospace;
    padding-top: 1em;
    padding-right: 4em;
    width: 44%; }
    body section[id="css-settings"] article {
      /* each html element (e.g. ul, li, etc.) is contained in an article */
      margin: 0 auto;
      margin-bottom: 1em;
      width: 25em; }
      body section[id="css-settings"] article div {
        /* each css setting (e.g. padding-left, margin-top, etc.) is contained in a div */
        color: #999;
        margin-left: 2em; }
        body section[id="css-settings"] article div label {
          /* used for css setting name ('padding left:') and units ('em;') */
          color: inherit;
          display: inline-block;
          vertical-align: middle; }
        body section[id="css-settings"] article div label:nth-child(1) {
          /* make the css setting names (the first label) the same width so they line up nicely */
          width: 9.5em; }
        body section[id="css-settings"] article div input[type="text"] {
          color: inherit;
          border: none;
          text-align: right;
          vertical-align: middle;
          width: 1.6em; }
        body section[id="css-settings"] article div input[type="range"] {
          margin-left: 3em;
          vertical-align: middle;
          width: 6em; }
      body section[id="css-settings"] article .non-default-value {
        /* the look of setting labels when the setting value is not the default (makes them stand out) */
        color: black;
        font-weight: bold; }
    body section[id="css-settings"] article[class="buttons"] {
      /* use an article to contain the preset and reset buttons below the settings */
      padding-top: 1em;
      text-align: center; }
      body section[id="css-settings"] article[class="buttons"] input[type="button"] {
        /* make the buttons the same width so they look better */
        width: 6em; }
  body section[id="example"] {
    /* use a section to contain the example, placed on the right side of the page */
    float: left;
    margin-top: 1em;
    width: 44%; }
    body section[id="example"] div {
      /* a div is used to emulate a <body> element */
      border: 1px solid white;
      /* needed to force li margins to not push the div down */
      box-shadow: 0px 0px 14px #666; }
      body section[id="example"] div ul {
        list-style-type: disc;
        list-style-position: outside; }
        body section[id="example"] div ul li aside {
          /* some non-text in the li, to show alignment of, say, boxes of text, images, etc. */
          border: 1px solid #999;
          font-family: monospace;
          margin-top: 0.6em;
          margin-bottom: 0.6em;
          padding: 0.4em;
          vertical-align: middle; }
  body footer {
    clear: both;
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center; }
    body footer span[class="source-link"] {
      font-size: 70%; }
