@import 'library';

@include reset;
@include box-sizing-fix;
@include main-header;
@include main-footer;
// @include debug-show-all-borders;

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;

  & > section {

    // Prevent page contents from hitting left and right sides of the page
    // when the page shrinks in width to less than the nav bar's max-width.
    padding: 0 2em;

    // Limit the width of all top-level sections and center them on the page.
    & > article {
      margin: 0 auto;
      max-width: $body-width;

      // Adjust spacing to give letters and words a little more room.
      // Revisit this if the font changes.
      p, td {
        line-height: 1.4em;
        word-spacing: 0.08em;
      }

      p {
        margin: 0.7em 0;
      }
    }
  }
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin: 1.5em 0 0em 0;
  text-align: center;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  margin: 3em 0 1em 0;
  text-align: center;
}

// Do not need so much of a gap between the page and section headers.
h1 + h2 {
  margin-top: 1.4em;
}

// Lato seems to need a bit more space between words.
h1, h2 {
  word-spacing: 0.12em;
}

// The sandbox is a container with a mockup page on the left
// and a css editor on the right.
.sandbox {

  // Use flex to place the mockup page and the css
  // editor side by side.
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
}

.mockup-page-column {
  width: 40%;

  // Use flex so that the mockup page can be centered
  // horizontally and vertically.
  display: flex;

  // Add a bit of a gap between the mockup page and the css/
  margin-right: 1.5em;

  .mockup-page {
    box-shadow: 0 0 5px 0px #999;
    font-family: serif;
    font-size: 0.8em;

    // Center the mockup page horizontally and vertically.
    margin: auto;
  }
}

.css-column {
  width: 40%;

  pre {
    font-size: 0.9em;

    // Scroll bars should appear when needed.
    overflow: auto;
  }

  input[type='range'] {
    width: 5em;

    // Bump range controls down so they align with adjacent text.
    position: relative;
    top: 0.5em;
  }

  .css-code {
    display: inline-block;
    width: 19em;
  }
}

nav {
  margin: 2em 0 1em 0;
  text-align: center;

  button {
    padding: 0.4em 1.4em;
  }
}

body#index {
  section {
    @include link-style();

    td {
      padding: 0.6em 1em;
      text-align: left;
      vertical-align: top;

      &:first-child {
        text-align: right;
        white-space: nowrap;
      }
    }
  }
}

body#flex {
  .mockup-page {
    padding: 1.5em;

    .container {
      background-color: #ffebcc;
      border: 1px solid #ccc;
      min-height: 25em;
    }

    .child {
      border: 1px solid #999;
      padding: 0.2em 0.4em;
      text-align: center;
    }

    .child:nth-child(1) {
      background-color: #a3a3ff;
    }

    .child:nth-child(2) {
      background-color: #adadff;
    }

    .child:nth-child(3) {
      background-color: #b8b8ff;
    }

    .child:nth-child(4) {
      background-color: #c2c2ff;
    }

    .child:nth-child(5) {
      background-color: #ccccff;
    }

    .child:nth-child(6) {
      background-color: #d6d6ff;
    }

    .child:nth-child(7) {
      background-color: #e0e0ff;
    }
  }
}

body#side-by-side-blocks {
  .mockup-page {
    padding: 0.01em;          // prevent t+b margin collapse

    section {
      border: solid 1px #ccc;
      margin: 0.4em;
      padding: 0.2em 0.4em;
    }
  }
}

body#ul-and-li-margins-and-padding {
  .mockup-page {
    height: 25em;
    padding: 2em;

    // Something embedded in the li to show alignment of
    // boxes of text, images, etc.
    aside {
      border: 1px solid #999;
      font-family: monospace;
      margin-top: 0.6em;
      margin-bottom: 0.6em;
      padding: 0.4em;
      vertical-align: middle;
    }
  }

  .css-column {
    .css-code {
      width: 15em;
    }
  }
}
